<body>
    <header>
      <div class="cabecalho">
        <a href="/"><img src="/images/logo_vertical.png" title="Xtech" /></a>
      </div>
      <!--cabecalho-->
      <nav>
        <div class="opcoes">
          <div class="boxPesquisa">
              <form action="" method="GET">
                  <button class="lupaPesquisa"><i class="fa-solid fa-magnifying-glass"></i>     </button>
                  <input type="text" class="pesquisa" name="pesquisa" placeholder="pesquisa por vaga">
              </form>
          </div>
          
          <div class="menuPerfil">
            <ul class="options">    
              <li><a href="">Meu Perfil</a></li>
              <li><a href="">Meus processos</a></li>
              <li><a href="/candidatos/sair">Sair</a></li>
            </ul>
          </div>
          <div class="menuMobile">
            <div class="mmLine"></div>
            <div class="mmLine"></div>
            <div class="mmLine"></div>
          </div>
          <div class="menuAtivar">
            <ul class="options">
                <br>
                <br>
                <li><a href="" title="Cadastre-se">Minhas vagas</a></li>
                <br>
                <li><a href="/candidatos/sair" title="Cadastre-se">Sair</a></li>
            </ul>
        </div>
        </div>
      </nav>
    </header>