<body>
    <header class="header-1">
        <div class="cabecalho">
           <a href="/"><img src="/images/logo_vertical.png" title="Xtech" /></a> 
        </div>
        <!--cabecalho-->
        <nav>
            <div class="menu">
                <div class="menuMobile">
                    <div class="mmLine"></div>
                    <div class="mmLine"></div>
                    <div class="mmLine"></div>
                </div>
                <div class="menuEsquerda">
                    <ul>
                        <li><a href="opcaoAcesso"  title="Entrar">Entrar</a></li>
                        <li><a href="/candidatos/registro" title="Cadastre-se">Cadastro candidato</a></li>
                        <li style="color: #fff">|</li>
                        <li><a href="/empresas/registro" title="Cadastre-se">Cadastro empresa</a></li>
                    </ul>
                </div>
                <div class="menuDireita">
                    <ul>
                        <li><a href="/politicas" title="Politica de privacidade">Politica de privacidade</a></li>
                        <li><a href="/sobre" title="Sobre">Sobre</a></li>
                    </ul>
                </div>
                <!--menuEsquerda-->
                <div class="menuAtivar">
                    <ul>
                        <li><a href="/opcaoAcesso"  title="Entrar">Entrar</a></li>
                        <li><a href="/candidatos/registro" title="Cadastre-se">Cadastro candidato</a></li>
                        <li><a href="/empresas/registro" title="Cadastre-se">Cadastro empresa</a></li>
                        <li><a href="/politicas" title="Politica de privacidade">Politica de privacidade</a></li>
                        <li><a href="/sobre" title="Sobre">Sobre</a></li>
                        <li><a href="/" title="Sair">Sair</a></li>
                    </ul>
                </div>
            </div>
            <!--menu-->
        </nav>
    </header>