<body>
    <header>
      <div class="cabecalho">
        <a href="/"><img src="/images/logo_vertical.png" title="Xtech" /></a>
      </div>
      <!--cabecalho-->
      <nav>
        <div class="opcoes">
          
          <div class="menuPerfil">
            <ul class="options">    
              <li><a href="/empresas/areaEmpresa">Meu perfil</a></li>
              <li><a href="/empresas/cadastrarVagas">Cadastrar vagas</a></li>
              <li><a href="/empresas/vagasEmpresas">Vagas enviadas</a></li>
              <li><a href="/empresas/sair">Sair</a></li>
            </ul>
          </div>
          <div class="menuMobile">
            <div class="mmLine"></div>
            <div class="mmLine"></div>
            <div class="mmLine"></div>
          </div>
          <div class="menuAtivar">
            <ul class="options">
                <br>
                <br>
                <li><a href="" title="Anunciar vagas">Anunciar vagas</a></li>
                <br>
                <li><a href="" title="Vagas anunciadas">Vagas anunciadas</a></li>
                <br>
                <li><a href="/candidatos/sair" title="Sair">Sair</a></li>
            </ul>
        </div>
        </div>
      </nav>
    </header>