<footer>
    <div class="barraRodape">
        <div class="img-1"><i class="fa-brands fa-facebook-square"></i></div>
        <div class="img-2"><i class="fa-brands fa-linkedin"></i></div>
        <div class="img-3"><i class="fa-brands fa-instagram-square"></i></div>
    </div>
    <!--barraRodape-->
</footer>

</body>

</html>