<body>
    <header class="header-1">
        <div class="cabecalho">
            <img src="/images/logo_vertical.png" title="Xtech" />
        </div>
        <!--cabecalho-->
        <nav>
            <div class="menu">
                <div class="menuMobile">
                    <div class="mmLine"></div>
                    <div class="mmLine"></div>
                    <div class="mmLine"></div>
                </div>
                <div class="menuEsquerda">
                    <ul>
                        <li><a href="/acesso"  title="Entrar">Entrar</a></li>
                        <li><a href="/pages/cadastro_candidatos.html" title="Cadastre-se">Cadastre-se Gratuitamente</a></li>
                    </ul>
                </div>
                <div class="menuDireita">
                    <ul>
                        <li><a href="/politicas" title="Politica de privacidade">Politica de privacidade</a></li>
                        <li><a href="/sobre" title="Sobre">Sobre</a></li>
                    </ul>
                </div>
                <!--menuEsquerda-->
            </div>
            <!--menu-->
        </nav>
    </header>