<body>
    <header>    
        <div class="menu-2">
            <div class="imagemX">
                <img src="/images/logo_vertical.png" title="Xtech" />
            </div>
            <!--imagemX-->  
            <div class="menuDireitoAcesso">
                <ul>
                    <li><a href="#" title="Redefinir">Esqueceu sua Senha?</a></li>
                    <li><p style="color:#fff"> | </p></li>
                    <li><a href="/" title="Cadastre-se">Cadastre-se</a></li>
                </ul>
            </div>
            <div class="menuMobile-2">
                <div class="mmLine-2"></div>
                <div class="mmLine-2"></div>
                <div class="mmLine-2"></div>
            </div> 
            <div class="menuAtivar">
                <ul>
                    <br>
                    <li><a href="/opcaoAcesso"  title="Esqueceu a senha?">Esqueceu a senha?</a></li>
                    <li><a href="/" title="Cadastre-se">Cadastre-se</a></li>
                </ul>
            </div>
        </div>
        <!--menu-->
    </header>