<body>
    <header>    
        <div class="menu-2">
            <div class="imagemX">
                <img src="/images/logo_vertical.png" title="Xtech" />
            </div>
            <!--imagemX-->  
            <div class="menuDireitoAcesso">
                <ul>
                    <li><a href="/acesso" title="Entrar">Entrar</a></li>
                    <li><a href="/" title="Cadastre-se">Cadastre-se</a></li>
                </ul>
            </div>
        </div>
        <!--menu-->
    </header>