<body>
    <header>
      <div class="cabecalho">
        <img src="/images/logo_vertical.png" title="Xtech" />
      </div>
      <!--cabecalho-->
      <nav>
        <div class="opcoes">
          <div class="boxPesquisa">
              <form action="" method="POST">
                  <button class="lupaPesquisa"><i class="fa-solid fa-magnifying-glass"></i>     </button>
                  <input type="text" class="pesquisa" placeholder="pesquisa por vaga">
              </form>
          </div>
          
          <div class="menuPerfil">
            <ul>    
              <li><a href="">Cadastrar vagas</a></li>
              <li><a href="">Vagas Cadastradas</a></li>
              <li><a href="/empresas/sair">Sair</a></li>
            </ul>
          </div>
          <div class="menuMobile">
            <div class="mmLine"></div>
            <div class="mmLine"></div>
            <div class="mmLine"></div>
          </div>
          <div class="menuAtivar">
            <ul>
                <br>
                <br>
                <li><a href="" title="Anunciar vagas">Anunciar vagas</a></li>
                <li><a href="" title="Vagas anunciadas">Vagas anunciadas</a></li>
                <li><a href="/candidatos/sair" title="Sair">Sair</a></li>
            </ul>
        </div>
        </div>
      </nav>
    </header>