<%- include('./partials/head'); %>

<%- include('./partials/header2'); %>

<main>
    <div class="center center-2">
        <h1>Acesse a sua conta</h1>
        <div class="box-container-acesso">
            <form>
                <div class="box1">
                    <label>
                        <img src="images/Pesquisa.png" height="25px" width="25px">
                        <input type="email" class="email-01" value="" placeholder=" Digite seu Email">
                    </label>
                </div>

                <div class="box1">
                    <label>
                        <img src="images/Pesquisa.png" height="25px" width="25px">
                        <input type="password" class="senha-01" value="" placeholder="Digite sua senha">
                    </label>
                </div>

                <button class="button-01" type="submit" value="Enviar">Acessar</button>    
            </form>
            <br />
        <div class="esqueceu">

            <a href="/acesso/redefinir-senha" title="Entrar">Esqueceu sua Senha?</a>


        </div>
    </div>
    <!--box-container-acesso-->
    </div>
    <!--center-->
    </div>

</main>

<div class="logo_cinza">
    <img src="images/XTECH.png" title="Xtech" />
</div>

<%- include('./partials/footer'); %>