<%- include('./partials/head'); %>

<%- include('./partials/header2'); %>

    <main>
        <div class="center center-2 center-3">
            <div class="titulo"><h1>Redefinir senha</h1></div>
            <div class="informacoes">
                <form>
                    <div class="email">
                        <img src="/images/Pesquisa.png" height="25px" width="25px">
                        <input type="email" id="email" name="email" placeholder="  digite seu email" required>
                    </div>
                    <br />
                    <div class="password">
                        <img src="/images/Pesquisa.png" height="25px" width="25px">
                        <input type="password" id="password"name="password" placeholder="   digite sua senha" required>
                    </div>
                    <br />
                    <div class="password">
                        <img src="/images/Pesquisa.png" height="25px" width="25px">
                        <input type="password" id="password" name="password" placeholder="   redigite sua senha" required>
                    </div>
                    <br />
                    <label class="checkbox">
                        <input type="checkbox">
                        De acordo com as politicas de privacidade
                    </label>
                    <br />
                    <input type="submit" id="button2" name="button">
                </form>
            </div><!--informacoes-->
        </div><!--center-02-->
    </main>
    <!-- <br></br> -->
    <%- include('./partials/footer'); %>