<%- include('./partials/head'); %>
<%- include('./partials/header2'); %>

<main class="containerSobre">
    <div class="content">
        <h1>.//SOBRE</h1>
        <div class="text">
            <section class="text">
                <p>
                    A XTech ( XTECH TECNOLOGIA EM RECRUTAMENTO LTDA., inscrita no CNPJ sob o n.56476403000166) é a detentora da Plataforma de Recrutamento
                    e Seleção intitulada XTech e atua como controladora ao tratar seus dados pessoais. Seus dados são coletados de acordo com esta Política de Privacidade 
                    e em conformidade com as legislações de proteção de dados relevantes, em especial a Lei Geral de Proteção de Dados (“LGPD”).   
                </p>
            </section>
        </div>
</main>

<%- include('./partials/footer'); %>