<%- include('./partials/head'); %>

<%- include('./partials/header2'); %>

<main>
        <div class="box_formulario">
                <form action="/empresas/registro" method="POST">
                        <fieldset>
                                <div class="center_Candidatos">
                                        <h1>Formulario Cadastro de Empresas</h1>
                                </div>
                                <br>
                                <div class="inputBox">
                                        <input type="text" name="nome" id="nome" class="inputUser_T" required>
                                        <label for="nome" class="label_input">Nome da Empresa</label>


                                </div>
                                <br>
                                <div class="inputBox">
                                        <input type="number" name="cnpj" id="cnpj" class="inputDoc" required>
                                        <label for="cnpj" class="inputDoc"><b>CNPJ:</b></label>
                                <br></br>
                                </div>
                                <br>

                                <div class="inputBox">
                                        <input type="email" name="email" id="Email" class="inputUser_T" required>
                                        <label for="nome" class="label_input">Email</label>
                                </div>
                                <br>
                                <br>

                                <div class="inputBox">
                                        <input type="text" name="linkedin" id="linkedin" class="inputUser_T" required>
                                        <label for="linkedin" class="label_input">linkedin</label>

                                <br></br>
                                </div>
                                <br>


                                <div class="inputBox">
                                        <input type="text" name="endereco" id="endereco" class="inputUser_T"  required>
                                        <label for="endereco" class="label_input">Endereço</label>

                                <br></br>
                                </div>
                                <br><br>
                                <div class="inputBox">
                                        <input type="text" name="cidade" id="cidade"
                                                class="inputUser_T" required>
                                        <label for="cidade" class="label_input">Cidade</label>
                                </div>
                                <br></br>
                                <div class="inputBox">
                                        <input type="text" name="estado" id="estado"
                                                class="inputUser_T" required>
                                        <label for="estado" class="label_input">Estado</label>
                                </div>
                                <br></br>
                                <div class="inputBox">
                                        <h4 style="color:#fff">Sobre à empresa</h4>
                                        <textarea id="sobre" name="sobre" rows="5" cols="33"></textarea>                    
                                </div>
                                <br>
                                <div class="inputBox">
                                        <label for="password" class="input-senha2">Senha</label>
                                        <input type="password" name="password" id="password" class="input-senha" required />
                                </div>
                                <br>
                                <div class="btn-center">
                                        <input type="submit" name="submit" id="submit" class="submit">
                                </div>
                                
                        
                                <!-- <label for="submit" class="submit">Enviar</label> -->
                        </fieldset>
                </form>
        </div>




</main>

<%- include('./partials/footer'); %>