<%- include('./partials/head'); %>

<%- include('./partials/header2'); %>

<main>
    <div class="center center-2">
        <h1>Acesse como: </h1>
        <div class="botaoOpcoes">
            <div class="botaoCandidato"><a href="/candidatos/acessoCandidato">Candidato</a></div>
            <div class="botaoEmpresa"><a href="/empresas/acessoEmpresa">Empresa</a></div>
        </div>
    <!--center-->
    </div>
</main>

<div class="logo_cinza">
    <img src="/images/XTECH.png" title="Xtech" />
</div>

<%- include('./partials/footer'); %>  