@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/*Ajustes Padrões*/
:root {
    /* Padrão: Cores*/
    --color-lighter: #FFFFFF;
    --color-light: #f8f9fa;
    --color-primary: #00DEBD;
    --color-secondary: #00BCDA;
    --color-dark: #101527;
    --color-darker: #101527;
    /* Padrão: Espaçamentos */
    --spacing-size-default: 20px;
    --spacing-size-quarter: calc(.25 * var(--spacing-size-default));
    --spacing-size-third: calc(.33 * var(--spacing-size-default));
    --spacing-size-half: calc(.5 * var(--spacing-size-default));
    --spacing-size-double: calc(2 * var(--spacing-size-default));
    /* Padrão: Fontes - Tamanhos */
    --font-size-default: 20px;
    --font-size-xxs: calc(.7 * var(--font-size-default));
    --font-size-xs: calc(.8 * var(--font-size-default));
    --font-size-sm: calc(.9 * var(--font-size-default));
    --font-size-md: calc(1 * var(--font-size-default));
    --font-size-lg: calc(1.2 * var(--font-size-default));
    --font-size-xl: calc(1.6 * var(--font-size-default));
    --font-size-xxl: calc(2.8 * var(--font-size-default));
    /* Padrão: Fontes - Tamanhos Entrelinhas */
    --line-height-default: calc(1.5 * var(--font-size-default));
    --line-height-xxs: calc(1.5 * var(--font-size-xxs));
    --line-height-xs: calc(1.5 * var(--font-size-xs));
    --line-height-sm: calc(1.5 * var(--font-size-sm));
    --line-height-md: calc(1.5 var(--font-size-md));
    --line-height-lg: calc(1.5 * var(--font-size-lg));
    --line-height-xl: calc(1.5 * var(--font-size-xl));
    --line-height-xxl: calc(1.5 * var(--font-size-xxl));
    /* Padrão: Fontes - Família*/
    --font-family-title: 'Inter', serif;
    --font-family-text: 'Inter', serif;
    /* Padrão: Border Radius */
    --border-radius-default: 30px;
    --border-radius-circle: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body com imagem*/
body {
    background: linear-gradient(104.94deg, rgba(16, 21, 39, 0.85) 42.49%, rgba(16, 21, 39, 0.42) 96.36%), url(../images/fundo.jpg);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    color: var(--color-dark);
}


.logo_cinza {
 display: flex;
 justify-content: right;
 margin-bottom: 50px;
 margin-top: 20px;
 background: none;
 margin-right: 60px;
}

/*Para as coisas não aparecerem*/
.none {
    display: none;
}

/*FIM Ajustes Padrões*/

/*INICIO AJUSTES MENU Ajustes Padrões*/
header {
    position: sticky;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.menu-2 {
    background-color: var(--color-dark);
    display: flex;
    height: 76px;
    align-items: center;
    justify-content: space-around;
}

.menu-2 img {
    display: flex;
    padding: 13px 2% 10px 2%;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    width: 10vw;
}

.menuEsquerdaAcesso a:hover{
    color: var(--color-primary);
}

header .cabecalho {
    background-color: var(--color-dark);
    display: flex;
    height: 76px;
    justify-content: center;
    align-items: center;
}

header .cabecalho img {
    display: flex;
    padding: 13px 2% 10px 2%;
    justify-content: center;
    align-items: center;
    width: 18vw;
}

header .menu {
    align-items: center;
    background: linear-gradient(269.83deg, var(--color-primary) 8.79%, var(--color-secondary) 65.48%);
    display: flex;
    height: 48px;
    justify-content: space-around;
    width: 100vw;
}

.menuEsquerda ul li {
    display: inline-block;
    list-style: none;
    margin-left: 1vw;
}

.menuDireita ul li {
    display: inline-block;
    list-style: none;
    margin-left: 2vw;
}

[title="Entrar"]{
    margin-right: 3vw;
}

.menuDireitoAcesso ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}

/*Ajustar a cor do link a*/
a:hover {
    color: var(--color-darker);
}

a {
    color: var(--color-lighter);
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
}

/*INICIO AJUSTES MENU FIM Ajustes Padrões*/

/*Config MAIN INDEX*/
main {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.center {
    /* 
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    height: calc(100vh - 210px);
}

.center h1 {
    color: var(--color-lighter);
    font-size: var(--font-size-xxl);
    margin-bottom: 02vh;
    margin-top: -45px;
    height: 17vh;
    font-size: 2.3em;
    text-align: center;
    bottom: 100px;
  
}

.center b {
    color: var(--color-primary);
}

.center-2 {
    /* 
    width: 100vw; */
    display: flex;
    width: 100vw;
    height: calc(100vh - 329px)
}

.center-2 h1{
    margin-top: 5%;
    height: 120px;
    font-size: 3.0em;
}

.center-3 {
    /* 
    width: 100vw; */
    display: flex;
    width: 100vw;
    height: calc(100vh - 162px)
}

.titulo {
    height: 140px;
    text-align: center;
    text-align: justify;
    font-size: 0.8em;
}

.checkbox{
    color: #fff;
}

.box-container {
    background-color: rgba(68, 213, 197, 15%);
    border-radius: var(--border-radius-default);
    padding: 2vh;
    min-width: 420px;
    width: 40vw;
}

.icone {
    color: var(--color-light);
    font-size: 25px;
    display: inline-block;
    padding-right: 5px;
}

button.lupa {
    background-color: rgba(73, 236, 217, 0.00);
    border-radius: var(--border-radius-default);
    cursor: pointer;
    border: 0;
}

.search {
    border: none;
    background: none;
    outline: none;
    color: var(--color-lighter);
    font-size: var(--font-size-xs);
    line-height: 1.8vw;
    padding-left: 2vh;
    position: fixed;
    width: 40%;
}

/*Termina aqui configuração página principal(Título da página e barra de pesquisa*/

/*Inicio página rodapé*/
footer {
    background-color: #101527;
    position: absolute;
    text-align: center;
    width: 100vw;
}

.barraRodape {
    display: flex;
    justify-content: center;
    padding: 16px 24px 16px 24px;
    align-items: center;
    
}

.img-1,
.img-2,
.img-3 {
    color: var(--color-primary);
    font-size: 33px;
    padding: 8px;

    
}

/* estilos página Acesso */
.box-container-acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    background-color: rgba(73, 236, 217, 0.15);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    display: inline-block;
    min-width: 220px;
    width: 17vw;
    margin: 5px;
    height: 60px;

}

.box1 img{
    margin-left: 2%;
    margin-right: 7%;
}

.email-01,
.senha-01 {
    background-color: rgba(73, 236, 217, 0.00);
    color: var(--color-light); 
    border: none; 
    font-size: var(--font-size-md);
    height: 25px;
    outline: none;
    width: 75%;
    margin-top: 20px;
}

label.checkbox{
    margin-left: 10%;
    margin-right: 10%;
    white-space: nowrap;
}

.button-01 {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 25px;
    color: var(--color-lighter);
    font-size: var(--font-size-md);
    min-width: 100px;
    height: 60px;
    transition: 0.4s;
    width: 10vw;
}

#button2{
    background-color: var(--color-secondary);
    border: none;
    border-radius: 25px;
    color: var(--color-lighter);
    font-size: var(--font-size-md);
    min-width: 200px;
    height: 60px;
    transition: 0.4s;
    margin: 10px 25% 8px 25%;
    align-items: center;
}

.button-01,#button2:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

/*Fim dos estilos página acesso */

/*Páginas Públicas*/
.containerPolitica {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*overflow-y: scroll; /* Verificar o comportamento do Scroll*/
}

.containerSobre {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    /*overflow-y: scroll; /* Verificar o comportamento do Scroll*/
}
.esqueceu {
display: flex;
margin-left: 200px;
font-size: 16px;
margin-top: 8px;

}
.esqueceu a:hover{
    color: var(--color-primary);
}

.containerVagas {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow-y: scroll; /* Verificar o comportamento do Scroll*/
}


.content {
    width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    width: auto;
    text-align: left;
    justify-content: center;
    /*overflow-y: scroll;  "Comentei apenas para ver o coportamento    */
}

.text p {
    margin-bottom: 16px;
    text-indent: 32px;
    color: var(--color-light);
}

.content h1 {
    color: var(--color-primary);
    margin-bottom: 40px;
   }
  
.text h2 {
     font-weight: normal;
     margin-bottom: 16px;
     color: var(--color-primary);
   }

   .search-box {
    width: 1400.42px;
    height: 50.66px;
    top: 20.9px;
    left: 100.34px;
    border-radius: 26px;
    background: #44D5C526;
    display: flex;
    justify-content: space-between;
    
    /* font-size: medium; */
    /* border-left: 90px;
    border-right: 90px; */
  }
  .section {
    width: 60px;
    height: 60px;
    background: none;
    justify-content: center;
    margin-top: 20px;
    color: aqua;
    align-items: center;
  
  }
  .search-text {
  
   background: none;
   outline: none;
   font-size:20px;
   border:none;
   border-radius: 26px;
   color:white;
   margin-left: 16px;
     
  }
  .logoXtech {
    margin-right: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: right;
    
  }
  
  .Empresa {
  margin-top: 48px;
  background: #8b919026;
  
  }
  
  .Localidade {
    margin-top: 30px;
    background: #8b919026;
  
  }
  .Teste {
    margin-top: 30px;
    background: #8b919026;
  }
  .link-inscricao {
    margin-top: 16px;
    color: var(--color-primary);
  
 }
 .link-inscricao a:hover {
   color: var(--color-primary);
  }
  .vagas-encontradas {
   color: aqua;
   margin-left: 30px;
   border-radius: 40px;
   background: none;
   outline: none;
   width: 300px;
   align-items: center;
   height: 40px;
   margin-top: 30px;
   justify-content: center;
   border-color: aqua;
  
  }
  .vagas {
    margin-top: 20px;
    margin-left: 30px;
    
  }

  /*Customização da tela de Cadastro de Candidados   */
   /*  .input_01 */
  /* {
    background: none;
    outline: none;
    font-size:40px;
    border:none;
    border-radius: 26px;
    color:white;
    margin-left: 16px;
  
  } */
  .input_02,
  .input_03,
  .input_04 
   {
    display: flex;
    margin-top: 30px;
    background: none;
    align-items: center;
           
  }

 .input_05,
 .input_06 
 {
    margin-top: 30px;
    background: none
 }
 .center_Candidatos h1 {
    display: flex; 
    margin-top: 30px;
     color: aqua;
     margin-left: 60px; 
     justify-content: center;    
 }
 .campo {
     color: #f8f9fa;
     text-decoration-color: #f8f9fa;
     font-family: var(--color-lighter);
     display: flex;
     margin-top: 30px;
     /* justify-content: space-between; */
  
 }

/* Personalizações Formularios de Cadastro  */

.box_formulario {
    border-radius: 15px;
    padding: 15px;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

  }
  
  legend {
    justify-content: center;
    align-items: center;
   }
 
   .inputUser_T {
     background: none;
     border: none;
     border-bottom: 1px solid white;
     outline: none;
     color: white;
     font-size: 16px;
     width: 100%;
     letter-spacing: 2px;
     
   }

   .inputUser{
    color: white;
    padding: 05px;
    margin-bottom: auto;
  }

   .label_input{
    /* position: absolute;    =>  Distancia ou aproxima a label da linha de input */
     top: 0px;
     left:0px;
     pointer-events: none;
     transition: .5px;
     color:white         
   } 
   /* .inputUser_T:focus ~ .label_input,
   .inputUser_T:valid{
     /* top: -20px; */
     /* font-size: 8px; */
     /* color:white; */
     /* margin-left: 68px; */
     /* left: 0.8rem; */
     /* }   */ 

/* .inputBox:focus~ .label_input,
.inputUser_T:valid{
  transition: top -20px;
} */
.inputUser_T ~ .label_input, 
.inputUser_T:not(:placeholder-shown).inputUser_T:not(:focus) ~ .label_input {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
    color: #18ffff;

}
.formbox:hover {
    border-color: #adffff;

    /* Change border when input focus*/
  }
/* .inputuser_T:focus {
    text-decoration-color: #18ffff;
  } */

   .inputBox{
     position: relative;
     margin-left: 30px;
     margin-left: 30px;
   }
   

 .radio{
 color: white;
 /* margin-left: 30px; */

 /* justify-content: space-between;
 display: flex;
 */
 }
 .sexo {
 color: white;
 margin-left: 30px;
 }
 .Habilidades {
    color: white;
    margin-left: 30px;
 }
 .date,
 .textcep,
 .textcnpj,
 .inputcpf{
  color:white;
  background:none;
 }
 .inputDate
  {
     color: #101527;
     background-color: none;
     font-size: medium;

     
 }
 .inputcep,
 .inputDoc{
     color: white;
     margin-left: 5px;
     padding: 4px;
     background: none;
     border-color: white;
 }

 .submit{
    color:#101527;
    width: 200px;
    height: 50px;     
    background:aqua;
    border-radius: 15px;
    cursor: pointer;
        
 }
.btn-center{
    display: flex;
    justify-content: center;

}

 .logo_cinza{
  justify-content: right;       
 }
 
 #data_nascimento {
    /* border: none; */
    padding: 8px;
    border-radius: 10px ;
    outline: none;
    background: none;
    border-color: white;
    color:white;
    
    
 }
 #feminino,
 #masculino,#outros,#Front-end,#Beck-end,#Full-Stack {
 margin-left: 30px;
 }

/*Inicio configuração página cadastro de Senha*/

.center-02{
    height: 63.5vh;
    margin: 90px 5vw 10px 1vw;
    width: 100vw;
    /* margin-top: 30px; */
}
.linguagens {
    margin-left: 30px;
    color: white;
    padding: 4px;
    background: none;
    border-color: white;

    }
.seletor {
    background-color: none;
    color: #101527;
}

.fraseCadastro{
    color: var(--color-lighter);
    height: 80px;
    margin: 10px auto;
    padding: 20px 5px 5px 3px;
    text-align: center;
    width: 80vw;
    margin-top: 30px;
    
}

.formEmail{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    margin: 2px auto;
    width: 80vw;
}

.email{
    background-color: rgba(73, 236, 217, 0.15);
    border: none;
    border-radius: 25px;
    height: 60px; 
    width: 430px;
    
}

.inputEmail{
    background-color: rgba(73, 236, 217, 0.00);
    border: none;
    border-radius: 25px;
    float: right;
    font-size: var(--font-size-md);
    height: 60px;
    outline: none;
    width: 390px;
    color: white;
}

.email img{
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 5px;
}

.formPassword{
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    height: 150px;    
    margin: 2px auto;
    width: 80vw;
}

.password{
    background-color: rgba(73, 236, 217, 0.15);
    border: none;
    border-radius: 25px;
    height: 60px;
    width: 430px;
    color: white;
}

.inputPassword{
    background-color: rgba(73, 236, 217, 0.00);
    border-radius: 25px;
    border: none;
    float: right;
    font-size: var(--font-size-md);
    height: 60px;
    outline: none;
    width: 390px;
    color: white;
}

.password img{
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 5px;
}

#email,#password{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: white;
    width: 90%;
}

.senha img{
    margin-top: 12px;
    margin-left: 8px;
}

.politicas{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    margin-left: 40vw;
}

.politicas h5{
    color: var(--color-lighter);
    padding-left: 8px;
}

.button-container{
    margin: 0 auto;
    height: 70px;
    width: 400px;
}

.button-2{
    background-color: var(--color-secondary);
    border-radius: 25px;
    border: none;
    color: var(--color-lighter);
    font-size: var(--font-size-lg);
    height: 54px;
    margin: 2px 2px 2px 20px;
    width: 354px;
}

.espaco-2{
    height: 40px;
}

.espaco-3{
    height: 30px;
    width: 41vw;
}

/*Final configuração página cadastro*/
/* estilização da area logada*/

.center h3 {
    text-align: center;
 
 }
 
 .dicas_xtech h5 {
    color: white;
    margin-left: 50px;
    margin-top: 100px;
    
 }
 /* .box-container_logado {
     margin-left: 30px;
     background-color: rgba(68, 213, 197, 15%);
     border-radius: var(--border-radius-default);
     margin-left: 30vw;
     padding: 2vh;
     width: 40vw;
 } */
 .dicas_xtech h4{
     color: white;
     margin-left: 50px;
     margin-top: 15px;  
 }
 .Imagem_carreira li a {
     margin-left: 30px;
   
 }
 .tips_item-link{
     margin-left: 30px;
 }
 
 
 .center_logado h1 {
     color: var(--color-lighter);
     font-size: var(--font-size-xxl);
     margin-bottom:40px;
     font-size: 2.3em;
     text-align: center;
     bottom: 100px;
   
 }
 .button_empresas  .button_parceiros {
     color: var(--white);
     font-weight: 500;
     line-height: 1;
     text-align: center;
     text-decoration: none;
     background-color: var(--secondary);
     border: 1px solid var(--secondary);
     border-radius: 2px;
     cursor: pointer;
 }
 .button_empresas {
     padding: 1.5rem 1.125rem;
     font-size: 1rem;
 }
 .Fique_por_Dentro {
  color: white;
  margin-left: 30px;
 }
 
 /*Parte do menu mobile */
 
 .menuMobile{
     display: none;
     height: 40px;
     width: 40px;
     margin-top: 40px;
     margin-bottom: 40px;
     margin-right: 20px;
 }
 
 .mmLine{
     height: 3px;
     background-color: #fff;
 }
 
 /*------------------------*/
 
 
 /* configurações para respansividade */
 
 @media(min-width: 450px) and (max-width: 750px) {
 
     .menuEsquerda, .menuDireita {
         display: none;
     }
 
     .menuMobile{
         display: flex;
         margin-left: 85%;
         flex-direction: column;
         justify-content: space-around;
     }
 
     .center h1 {
         font-size: 2.0em;
     }
 
     .box-container {
         padding: 1.5vh;
         min-width: 350px;
     }
 
     .icone {
         font-size: 20px;
         padding-left: 6px;
     }

     .center-2 h1{
        margin-top: 10%;
        height: 90px;
        font-size: 2.3em;
    }

     .box-container-acesso form{
        display: flex;
        flex-direction: column;
     }

     .box1 {
        min-width: 260px;
        width: 17vw;
        margin: 5px;
        height: 60px;
    
    }

     .button-01 {
        font-size: var(--font-size-md);
        min-width: 200px;
        height: 60px;
        margin: 0 auto;
        margin-top: 4%;
        transition: 0.4s;
        width: 10vw;
    }

    .search {
        min-width: 340px; 
        padding-left: 5px;
    }

    .email, .password{
        background-color: rgba(73, 236, 217, 0.15);
        border: none;
        border-radius: 25px;
        min-width: 350px;
        height: 60px; 
        width: 60vw;
        
    }

    #email,#password{
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        color: white;
        width: 70%;
    }

    #button2{
        background-color: var(--color-secondary);
        border: none;
        border-radius: 25px;
        color: var(--color-lighter);
        font-size: var(--font-size-md);
        transition: 0.4s;
        margin: 15px 25% 8px 25%;
        align-items: center;
    }
 }
 
 
 @media (max-width: 450px) {
 
     header .cabecalho img {
         width: 100px;
     }
 
     .menuEsquerda, .menuDireita {
         display: none;
     }
 
     .menuMobile{
         display: flex;
         margin-left: 78%;
         flex-direction: column;
         justify-content: space-around;
         height: 30px;
         width: 30px;
         margin-top: 30px;
         margin-bottom: 30px;
         margin-right: 10px
     }
 
     .mmLine{
         height: 2px;
     }
      
     .titulo {
         height: 75px;
         color: #fff;
         text-align: center;
         margin-bottom: 20px;
     }

     .center h1 {
         font-size: 1.5em;
     }
 
     .box-container {
         padding: 1.3vh;
         min-width: 300px;
     }
 
     .icone {
         font-size: 20px;
         padding-left: 6px;
     }

    .center-2 h1{
        margin-top: 10%;
        height: 90px;
        font-size: 2.3em;
    }

     .box-container-acesso form{
        display: flex;
        flex-direction: column;
     }

     .box1 {
        min-width: 260px;
        width: 17vw;
        margin: 5px;
        height: 60px;
    
    }

    .titulo {
        font-size: 0.7em;
    }

     .button-01 {
        font-size: var(--font-size-md);
        min-width: 200px;
        height: 60px;
        margin: 0 auto;
        margin-top: 4%;
        transition: 0.4s;
        width: 10vw;
    }

    .titulo {
        height: 35px;
        color: #fff;
        text-align: center;
    }

    .titulo h1{
        font-size: 1.8em;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 5px;
        color: #fff;
        text-align: center;
    }

    #button2 {
        font-size: var(--font-size-md);
        min-width: 150px;
        height: 40px;
        margin-right: 25%;
        margin-left: 25%;
        margin-top: 4%;
        transition: 0.4s;
        width: 8vw;
    }

    .informacoes form{
        align-items: center;
    }

    .search {
        min-width: 250px; 
        padding-left: 5px;
    }

    .email, .password{
        background-color: rgba(73, 236, 217, 0.15);
        border: none;
        border-radius: 25px;
        min-width: 270px;
        height: 50px; 
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    #email,#password{
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        color: white;
        width: 70%;
    }

    label.checkbox{
        font-size: 0.8em;
        margin-left: auto;
        margin-right: auto;
    }


}